{% extends 'base.html' %}

{% block navbar %}
  <section class="navbar">
    <a href='{% url "home" %}' class="btn"> Home </a>
    <a href='{% url "trainer-list" %}' class="btn"> Trainer </a>
    <a href='{% url "pokemon-card" %}' class="btn" id="active"> Pokemon Card </a>
    <a href='{% url "collection" %}' class="btn"> Collection </a>
  </section>
{% endblock navbar %}


{% block content %}
<a href="{% url 'pokemon-card-add' %}" class="btn btn-outline-primary">Add New Card</a><br>
<main>
    <section class="cards-container">
    {% for pokemon in object_list %}
        <div class="card-box">
            <div class="card">
              <div class="card-type" id="{{ pokemon.card_type | lower }}">
                <div class="card-image" id="{{ pokemon.card_type | lower }}-img">
                  <img
                    src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{% if pokemon.card_number < 10 %}00{% elif pokemon.card_number < 100 %}0{% else %}{% endif %}{{ pokemon.card_number }}.png"
                    alt="{{ pokemon.name }}"
                  />
                </div>
                <div class="card-name">
                  <h2 class="sbs">{{ pokemon.name }}</h2>
                  <h2 class="sbs" id="card-number">#{% if pokemon.card_number < 10 %}000{% elif pokemon.card_number < 100 %}00{% elif pokemon.card_number < 1000 %}0{% else %}{% endif %}{{ pokemon.card_number }}</h2>
                  <hr />
                </div>
                <div class="card-rarity">
                  <h3 class="rarity">Rarity:</h3>
                  <h3 class="rarity" id="uncommon-text">{{ pokemon.rarity }}</h3>
                </div>
                <table class="card-stats">
                  <tbody>
                    <tr>
                      <th>HP:</th>
                      <td>{{ pokemon.hp }}</td>
                    </tr>
                    <tr>
                      <th>Card Type:</th>
                      <td>{{ pokemon.card_type }}</td>
                    </tr>
                    <tr>
                      <th>Attack:</th>
                      <td>{{ pokemon.attack }}</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>
                        {{ pokemon.description }}
                      </td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>{{ pokemon.weakness }}</td>
                    </tr>
                    <tr>
                      <th>Abilities:</th>
                      <td>{{ pokemon.abilities }}</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
                <a href="pokemon_card/{{ pokemon.id }}" >Edit</a> |
                <a href="pokemon_card/{{ pokemon.id }}/delete" >Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>

  <div>
      {% include 'includes/pagination.html' %}
  </div>

{% endblock %}